[Unit]
Description=Maliit server
After=syslog.target luna-next.service
Requires=luna-next.service

[Service]
Type=dbus
BusName=org.maliit.server
ExecStart=/usr/bin/maliit-server

[Install]
WantedBy=multi-user.target
