[Unit]
Description=Waydroid Container
After=waydroid-init.service
Requires=surface-manager.service

[Service]
BusName=id.waydro.Container
EnvironmentFile=/etc/id.waydro.Container/waydroid.env
ExecStartPre=/bin/mkdir -p /tmp/luna-session
ExecStartPre=/bin/ln -s /tmp/luna-session /run/luna-session
ExecStart=/usr/bin/waydroid -w container start

[Install]
WantedBy=multi-user.target
