[Unit]
Description=Waydroid init
After=surface-manager.service

[Service]
Type=oneshot
EnvironmentFile=/etc/id.waydro.Container/waydroid.env
ExecStartPre=/bin/mkdir -p /tmp/luna-session
ExecStartPre=/bin/ln -s /tmp/luna-session /run/luna-session
ExecStart=/usr/bin/waydroid init
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
