[Unit]
Description=Voicecall manager
Requires=dbus-session.service
After=dbus-session.service

[Service]
ExecStart=/usr/bin/voicecall-manager
Restart=always

[Install]
WantedBy=multi-user.target
