[Unit]
Description=Telephony service
Requires=dbus.service
After=dbus.service

[Service]
Type=dbus
BusName=org.ofono
User=root
EnvironmentFile=-/etc/ofono/environment.conf
ExecStartPre=-/usr/sbin/msm-modem-uim-selection.sh
ExecStart=/usr/sbin/ofonod -n $OFONO_OPTIONS
StandardError=null
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
