[Unit]
Description=webOS file caching daemon
Requires=ls-hubd.service
After=ls-hubd.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/filecache -c '{\"log\":{\"appender\":{\"type\":\"syslog\"},\"levels\":{\"default\":\"warning\"}}}'

[Install]
WantedBy=multi-user.target
