[Unit]
Description=MMS management service
Requires=dbus.service
After=dbus.service

[Service]
Type=dbus
BusName=org.ofono.mms
User=root
ExecStart=/usr/libexec/mmsd -n
StandardError=null
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
