[Unit]
Description=Maliit server
After=syslog.target surface-manager.service
Requires=surface-manager.service

[Service]
Type=dbus
EnvironmentFile=-/etc/maliit/maliit-env.conf
BusName=org.maliit.server
ExecStart=/usr/bin/maliit-server
Restart=always

[Install]
WantedBy=multi-user.target
