[Unit]
Description=Generate several required tokens

[Service]
ExecStart=/usr/bin/token-generator.sh
RemainAfterExit=No
Type=oneshot
StandardOutput=syslog
TimeoutSec=0

[Install]
WantedBy=basic.target
