[Unit]
Description=meta-webos - "%n" - clear stale Trusty secure-storage files
DefaultDependencies=no
After=android-data.mount mnt-vendor-persist.mount
Before=android-system.service

[Service]
Type=oneshot
ExecStart=/lib/systemd/system/scripts/bluejay-trusty-storage-fixup.sh
RemainAfterExit=yes

[Install]
WantedBy=basic.target
