[Unit]
Description=SIM emulation service
Requires=dbus.service
After=dbus.service
Before=ofono.service

[Service]
ExecStart=/usr/bin/phonesim /usr/share/phonesim/default.xml
Restart=always

[Install]
WantedBy=multi-user.target
