[Unit]
Description = PulseAudio
Requires=android-system.service
After=luna-next.service

[Service]
BusName=org.pulseaudio.Server
Restart=always
ExecStart=/usr/bin/pulseaudio --log-target=syslog --system

[Install]
WantedBy=multi-user.target
