[Unit]
Description = PulseAudio

[Service]
Type = simple
Restart=on-failure
ExecStart=/usr/bin/pulseaudio --log-target=syslog --system

[Install]
WantedBy=multi-user.target
