[Unit]
Description = PulseAudio

[Service]
BusName=org.pulseaudio.Server
Restart=always
EnvironmentFile=/etc/default/pulseaudio.conf
ExecStart=/usr/bin/pulseaudio --log-target=syslog --system

[Install]
WantedBy=multi-user.target
