[Unit]
Description=Connection service
Requires=dbus.socket android-system.service
After=dbus.socket android-system.service
Before=remote-fs.target

[Service]
Type=dbus
BusName=net.connman
Restart=on-failure
EnvironmentFile=/etc/connman/environment.conf
ExecStartPre=-/usr/lib/connman/wired-setup
ExecStart=/usr/sbin/connmand -n $EXTRA_PARAM
StandardOutput=null

[Install]
WantedBy=multi-user.target
