[Unit]
Description=Connection service
After=syslog.target

[Service]
Type=dbus
BusName=net.connman
Restart=on-failure
EnvironmentFile=/etc/connman/environment.conf
ExecStart=/usr/lib/connman/wired-setup
ExecStart=/usr/sbin/connmand -n $EXTRA_PARAM
StandardOutput=null

[Install]
WantedBy=multi-user.target
