[Unit]
Description=MTP server
Requires=android-system.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/mtp-server
StandardOutput=null

[Install]
WantedBy=multi-user.target
