[Unit]
Description=Telephony service
After=syslog.target
Requires=android-system.service

[Service]
Type=dbus
BusName=org.ofono
Environment="OFONO_APNDB_PATH=/system/etc/apns-conf.xml"
ExecStartPre=-/usr/bin/wait-for-rild.sh
ExecStart=/usr/sbin/ofonod -n
StandardError=null

[Install]
WantedBy=multi-user.target
