[Unit]
Description=Android Debug Bridge
ConditionPathExists=/var/usb-debugging-enabled

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/adbd
StandardOutput=null

[Install]
WantedBy=basic.target
